.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;

}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.commonButton {
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    min-width: 30px;
    border: 0;
    border-radius: 5px;
}

.deleteButton {
    display: inline-block;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

